body,
html {
  margin: 0;
  padding: 0;
  font-family: "arial";
}

.topBar {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.topBar .content {
  margin: 10px;
  padding: 0 20px;
  border-right: 1px solid #eee;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBar .content .url {
  color: black;
}

.topBar .content:nth-child(3) {
  border: none;
}

.topBar .content .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topBar .content .wrapper .fa-plus-circle {
  color: orange;
}

.topBar .content .wrapper .url {
  color: black;
}

.topBar .content .wrapper span,
.topBar .content .wrapper .fa-caret-down {
  margin-left: 10px;
}

.h {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h .nav {
  width: 8vw;
  background-color: #1a1a1a;
  color: #ffffff;
  height: 92vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h .nav .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20%;
  border-bottom: 1px solid #eee;
}

.h .nav .container div {
  margin-top: 15px;
}

.h .nav2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 92vw;
  height: 92vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
}

.h .nav2 .mrl {
  width: 89vw;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: row;
      -ms-flex-align: row;
          align-items: row;
  color: #0f0f0f;
  margin-left: 30px;
  margin-top: 35px;
  font-family: "Overpass", sans-serif;
  font-size: 26px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.h .nav2 .new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.h .nav2 .new .collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 30px;
  margin-top: 15px;
}

.h .nav2 .new .collection .anchor {
  color: black;
}

.h .nav2 .new .collection .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10px;
  width: 17vw;
  height: 11vh;
  border: 1.3px solid #e0dfdf;
  padding-top: 25px;
  padding-left: 15px;
}

.h .nav2 .new .collection .container .span {
  padding-left: 8px;
  padding-top: 5px;
}

.h .nav2 .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.h .nav2 .search .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #888aa1;
  width: 34px;
  height: 34px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  border: 1.25px solid #e0dfdf;
  background: #ffffff;
  margin-left: 30px;
  margin-top: 50px;
}

.h .nav2 .search .searching {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 50px;
  padding-left: 4px;
  margin-left: 2px;
}

.h .nav2 .search .searching .input-group {
  width: 390px;
}

.h .nav2 .search .incoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 34px;
  height: 34px;
  margin-left: 10px;
  margin-top: 50px;
  border: 1.25px solid #e0dfdf;
}

.h .nav2 .search .outgoing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 34px;
  height: 34px;
  padding-right: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-left: 10px;
  border: 1.25px solid #e0dfdf;
}

.h .nav2 .table {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  border: 1.25px solid #e0dfdf;
  margin-top: 2vh;
  margin-left: 30px;
  width: 85vw;
}

.h .nav2 .table table tr {
  width: 100%;
}

.h .nav2 .table table tr th {
  padding: 15px;
  border-bottom: 1.25px solid #e0dfdf;
  text-align: center;
  background: #fff;
}

.h .nav2 .table table tr th div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h .nav2 .table table tr th div .arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
}

.h .nav2 .table table tr th div a {
  color: #2b2b2b;
  opacity: 0.8;
}

.h .nav2 .table table tr td {
  padding: 10px 15px;
  text-align: center;
}

.h .nav2 .table table tr td button {
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 5px;
}

.h .nav2 .table table tr td .btn1 {
  background: #FFE2A5;
}

.h .nav2 .table table tr td .btn2 {
  background: #AFEEFF;
}

.h .nav2 .table table tr td .btn3 {
  background: #AEF6AE;
}

.h .nav2 .table table tr td .btn4 {
  background-color: #72BB53;
}

.h .nav2 .table table:nth-child(odd) {
  background: #eee;
}
/*# sourceMappingURL=style.css.map */